<!DOCTYPE html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>
<style>
    body {
        background-color: #f2f2f2;
        margin: 0 auto;
        width: 96%;
    }

    #problemDesc {
        margin: 0 auto;
        width: 80%;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">OJSys</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ojsys/problemset">Problemset</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/ojsys/submissions">Submissions</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/problemset/">Problemset</a></li>
            <li class="breadcrumb-item"><a href="/problemset/{{question.id}}">{{question.id}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">submit</li>
        </ol>
    </nav>
    <div id="problemInf" class="text-center">
        <h1>{{question.id}}: {{question.title}}</h1>
    </div>
    <form action="{% url 'ojsys:submit' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <div class="mb-3">
                <label for="code" class="form-label">Code:</label>
                <textarea class="form-control" id="code" name="code"></textarea>
                <label for="lang" class="form-label">Submission Language</label>
                <select class="form-select" aria-label="Submission Language" id="lang" name="lang">
                    <option selected value="cpp">C++</option>
                    <option value="Python">Python</option>
                </select>
            </div>
        </fieldset>
        <input type="submit" value="提交">
    </form>
</body>